/* start general */

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.background {
    position: relative;
    z-index: -1;
    flex: 1;
    width: auto;
    bottom: 0;
    height: 100vh;
    background-image: url("/styles/imgs/background-login.jpg");
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4354638C;
    opacity: 0.95;
    z-index: 1;
}

.container__central {
    z-index: 2;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: Inter;
}

.container__layout {
    position: relative;
    height: 100vh;
    width: 36vw;
    padding: 0 7rem;
    background-color: var(--color-one);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* end general */

/* start header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.625rem;
}

header img {
    background-color: var(--color-seven);
    padding: 2px;
    border-radius: 12px;
    display: flex;
    width: 12rem;
    height: auto;
    margin-bottom: 3.8rem;
}
header h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-five);
    margin: 0 0 0.75rem 0;
}

header h4 {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-five);
    margin: 0;
}
/* end header */

/* start main */
main {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2.625rem;
}

span {
    text-align: right;
}

span a {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: var(--color-nine);
}

main div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-two);
    gap: 1px;
    text-align: left;
}

main div label {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-nine);
}

main div input {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-five);
    width: 26.25rem;
    height: 1.3rem;
    background-color: transparent;
    border: none;
}

main div input:focus {
    outline: none;
}

/* end main */

/* start footer */
footer {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
    justify-content: center;
}

footer button {
    border-radius: 6px;
    padding: 12px 24px;
    color: var(--color-one);
    font-size: 1.25rem;
    border: none;
    background-color: var(--color-eigth);
    width: 26.25rem;
    cursor: pointer;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.75rem;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-five);
}

footer div a {
    color: var(--color-nine);
}
/* end footer */