html, body {
    margin: 0;
    padding: 0;
  }

body::before {
    content: "";
    position: fixed;
    filter: brightness(65%) blur(6px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    background-image: url("../styles/imgs/christy-jacob-Mh-R3YrrHT8-unsplash\ 1.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  :root {
    --color-one: #FFFFFF;
    --color-two: #ECF1F5;
    --color-three: #D8E3EC;
    --color-four: #00637A;
    --color-five: #737E8B;
    --color-six: #F49E1D;
    --color-seven: #7A89CC;
    --color-eigth: #00B2BA;
  }
