/* Mobile */

@media (max-width: 480px) {
    /* Start Header */

    header {
        height: auto;
        width: 100vw;
    }

    .header__conteiner {
        margin: 2.5vh 0 3rem 0;
    }

    .header__conteiner__content {
        width: 95vw;
    }

    .header__conteiner__logo img {
        width: 6.375rem;
    }

    .header__conteiner__login a {
        border: solid 2px var(--color-one);
        padding: 0.4rem 0.8rem;
        font-size: 1.25rem;
    }

    .header__main__conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3vw;
    }

    .header__main__title {
        font-size: 2.25rem;
        line-height: 37px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }

    .header__main__title span {
        font-size: 2.25rem;
        line-height: 37px;
        display: flex;
        text-align: left;
    }

    .header__main__subtitle {
        font-size: 1rem;
        line-height: 1.25rem;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        text-align: left;
    }

    .media__break {
        display: none;
    }

    .header__main__button {
        display: flex;
        justify-content: center;
    }

    .header__main__button button {
        margin-bottom: 2rem;
    }

    /* end header */

    /* start Cards */

    .main__cards__conteiner {
        flex-direction: column;
        padding: 2.5vw;
        background: var(--color-one);
        border-radius: 12px 12px 0 0;
        gap: 1.5rem;
    }

    .main__card {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .main__card__title {
        line-height: 16px;
        order: 1;
        flex-basis: 100%;

        text-align: center;
        margin-bottom: 2.5vw;
    }

    .main__card img {
        order: 2;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        margin-right: 10px;
    }

    .main__card__description {
        order: 3;
        flex: 1;
        
        line-height: 1.2rem;
        font-size: 1rem;
        text-align: left;
    }
    /* End Cards */

    /* Start Main Section1 */

    .main__section1__container {
        flex-direction: column;
        padding: 0 2.5vw;
    }

    .media__break__opposite {
        display: block;
    }

    .main__section1__text__title {
        font-size: 2rem;
        text-align: center;
    }

    .main__section1__text__title span {
        font-size: 2rem;
    }

    .main__section1__text__button {
        text-align: center;
    }

    .main__section1__img {
        display: none;
    }

    /* Main Section 2 */

    .main__section2__container {
        flex-direction: column;
        padding: 0 2.5vw;
        margin-bottom: 0;
    }

    .main__section2__title {
        font-size: 2rem;
        text-align: center;
    }

    .main__section2__title span {
        font-size: 2rem;
    }

    .main__section__img img {
        display: none;
    }

    .main__section2__button {
        text-align: center;
    }

    /* start footer */

    .footer__conteiner {
        padding: 2rem 0;
    }
    .footer__message {
        margin: 0;
        flex-direction: column;
        gap: 1rem;
    }

    .footer__message__text {
        font-size: 1rem;
        padding: 0 2.5vw;
        text-align: center;
    }

    .footer__message__logo {
        text-align: center;
    }
    /* end footer */

    body::before {
        background-position: 430px 500px;
    }
}

/* Tablet */

@media all and (min-width: 601px) and (max-width: 769px) {

    .media__break {
        display: none;
    }

    /* start header */
    .header__conteiner {
        margin: 2rem 0 auto 0;
    }

    .header__main__conteiner {
        margin-left: 8.5vw;
    }

    .header__main__title {
        font-size: 4rem;
    }

    .header__main__title span {
        font-size: 4rem;
    }
    /* end header */

    /* start cards */
    .main__cards__conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        padding: 2vw;
        background: var(--color-one);
        border-radius: 12px 12px 0 0;
    }

    .main__card {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .main__card__title {
        line-height: 16px;
        order: 1;
        flex-basis: 100%;

        text-align: center;
        margin-bottom: 20px;
    }

    .main__card img {
        order: 2;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        margin-right: 10px;
    }

    .main__card__description {
        order: 3;
        flex: 1;
        
        line-height: 1.2rem;
        font-size: 1rem;
        text-align: left;
    }

    /* end cards */

    /* start main section1 */
    .main__section1__container {
        padding: 0;
        margin: 0 2.5vw 0 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .main__section1__img {
        margin: 40px 2.5vw 0 0;
    }

    .main__section1__img img {
        width: 10rem;
        height: 16rem;
    }

    .main__section1__text__button {
        text-align: left;
    }

    /* end main section1 */

    /* start main section2 */
    .main__section2__container {
        width: 95vw;
        padding: 0 2.5vw;
        margin-bottom: 2rem;
    }

    .main__section2__title {
        text-align: center;
    }

    .main__section2__description {
        text-align: center;
    }

    .main__section2__button {
        text-align: center;
    }

    .main__section__img, .main__section__img img {
        display: none;
    }
    /* end main section2 */

    /* start footer */

    .footer__conteiner {
        padding: 3rem 0;
    }

    .footer__message {
        width: 95vw;
        padding: 0 2.5vw;
        margin: 0;
        text-align: center;
        gap: 1rem;
        flex-direction: row;
    }

    /* end footer */

    body::before {
        background-position: -110px 650px;
    }
    
}

/* General */
html, body {
    margin: 0;
    padding: 0;
  }

body::before {
    content: "";
    position: fixed;
    filter: brightness(65%) blur(6px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    background-image: url("../imgs/christy-jacob-Mh-R3YrrHT8-unsplash\ 1.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }