/* Section Heading Header */

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__conteiner {
    display: flex;
    justify-content: center;
    margin: 6.25rem 0 auto 0;
}

.header__conteiner__content {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    
    position: sticky;
    width: 83vw;
    z-index: 3;
}

.header__conteiner__logo img {
    width: 8.375rem;
    height: auto;
    max-width: 100%;
}

.header__conteiner__login button {
    border: solid 2px var(--color-one);
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    background: none;
    cursor: pointer;

    color: var(--color-one);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5125rem; 
    letter-spacing: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Haeding Content */

.header__main__conteiner {
    position: relative;
    z-index: 2;
    margin-left: 7.25rem;

    display: flex;
    flex-direction: column;
}

.header__main__title {
    font-family: Inter;
    font-weight: 700;
    font-style: italic;
    font-size: 4.25rem;
    line-height: 74px;
    letter-spacing: 0%;
    color: var(--color-one);
    margin-bottom: 1.625rem;
}

.header__main__title span {
    font-family: Inter;
    font-weight: 400;
    font-size: 4.25rem;
    line-height: 74px;
    letter-spacing: 0%;
}

.header__main__subtitle {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 0%;
    color: var(--color-one);
    margin-bottom: 2rem;
}

.header__main__button button {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 6px;
    border: none;
    background-color: var(--color-six);

    font-family: Inter;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: 0%;
    color: var(--color-one);
    margin-bottom: 3.375rem;
}
