:root {
  --color-one: #FFFFFF;
  --color-two: #ECF1F5;
  --color-three: #D8E3EC;
  --color-four: #00637A;
  --color-five: #737E8B;
  --color-six: #F49E1D;
  --color-seven: #7A89CC;
  --color-eigth: #00B2BA;
  --color-nine: #6B8898;
}
