/* Mobile */
@media all and (max-width: 600px) {
    .background {
        display: none;
    }
    .container__layout {
        padding: 5vh 2.5vw 0 2.5vw;
        width: 95vw;
        align-items: normal;
        justify-content: normal;
    }

    main div input {
        width: 90vw;
    }

    footer button {
        text-align: center;
        width: 90vw;
    }

    main {
        margin: 0 0 1.5rem;
    }

    .media__break {
        display: none;
    }
}

/* Tablet */
@media all and (min-width: 601px) and (max-width:1000px) {
    .background {
        display: none;
    }
    .container__layout {
        padding: 5vh 0;
        width: 95vw;
    }

    .container__central {
        justify-content: center;
    }
}